html	{
	background-color: grey;
	line-height: 3em;
}

header	{
	font-size: 2em;
	text-align: center;
}

h2	{
	font-size: 1.5em;
	
}

label	{
	font-size: 1.25em;
}

input {
    padding: 0.5em;
		border-radius: 5em;
}

label, input{
		width: 85%;
    display: block;
    margin: auto;
}

#submitbtn	{
	margin: 1em;
	text-align: center;
}


@media screen and (min-width: 900px)	{
	
	form	{
		text-align: center;
	}
	
	label, input{
			width: 20%;
			display: block;
	}

	#submitbtn	{
		width: 50%;
		margin: 1em;
		margin-left: 25%;
	}
		
	}